@import "base/base";
@import "base/color";
@import "base/fonts";
@import "base/reset";
@import "base/header";
@import "base/footer";
@import "base/login";

body{
    background-color: rgb(20, 20, 20);
}
//  Start Of Pending Page
.pending_header {
    padding: 15% 0% 15% 0%;
    text-align: center;
    font-weight: bolder;
    color: #dc5453;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
}

.course_header {
    margin-top: 20px;
    text-align: center;
    font-weight: 300;
    color: $white;
    font-family: $body;
    font-size: 35px;
    letter-spacing: 1.5px;
}

.credit_header {
    margin-top: 20px;
    text-align: center;
    font-weight: 300;
    color: $white;
    font-family: $body;
    font-size: 35px;
    letter-spacing: 10px;
}

.assignment_header {
    margin-top: 20px;
    text-align: center;
    font-weight: bolder;
    color: $pink;
    font-family: $body;
    font-size: 45px;
    border-bottom: 1px solid white;
    padding-bottom: 30px;
}

.description_header {
    margin-top: 20px;
    font-weight: bolder;
    color: #f1f1f1;
    font-family: "Montserrat", sans-serif;
    font-size: 29px;
}

#pending_section{
    width: 100%;
    height: auto;
    background-color: $dark-red;
    margin-top: 3%;
    padding-bottom: 3%;
}

.course_description {
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 25px;
    margin-left: 5px;
    font-family: $body;
}
