// Brand colors for overlook
$color-1: #181818;
$color-2: #353332;
$color-3: #303631;
$color-4: #6bc6ac;
$color-5: #38211c;
$color-6: #dc5453;
$color-7: #d2d2d4;
// style for overlook
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');
//font-family: 'Montserrat', sans-serif;
body{
  box-sizing: border-box;
  overflow: auto;
}
a{
  text-decoration: none;
  list-style:none;
}
a:hover{
  text-decoration: none;
}
// home for Mobile - (start)
.background-color{
  background-color: #181818;
  height: 150px;
}
.background-color:nth-child(2){
  background-color:#303631;
  height: 180px;
}
.background-color:nth-child(3){
  background-color: #38211c;
  height: 250px;
  border-top: 10px solid #181818;
  border-bottom: 10px solid #181818;
}
.background-color:nth-child(4){
  background-color: #303631;
  height: 250px;
  border-bottom: 10px solid #181818;
}
.background-color:nth-child(5){
  background-color: #353332;
  height: 350px;
  border-bottom: 2px solid #181818;
  text-align: center;
}
.background-color:nth-child(6){
  background-color: #353332;
  height: 350px;
  border-top: 10px solid #181818;
  text-align: center;
}
// For the box 1
.h1-size-1{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  margin-top: 50px;
  }
  // For the box 2
.h1-size-2{
  color: #d2d2d2;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 80px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  margin-top: 10px;
}
.h2-size-1{
  color: #d2d2d2;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
}
// For the box 3
.h1-size-3{
  color: #dc5453;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 80px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  margin-top: 10px;
}
.h2-size-2{
  color: #dc5453;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
}
// For the box 4
.h1-size-4{
  color: #6bc6ac;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 80px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  margin-top: 10px;
}
.h3-size-3{
  color: #6bc6ac;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
}
// For the box 5
.img-size{
  height: 200px;
  margin-top: 30px;
}
.h1-size-5{
  color: #d2d2d2;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 46px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  margin-top: 25px;
  text-transform: uppercase;
  letter-spacing: 6px;
}
// home for Mobile - (End)
// fail for Mobile - (start)
.fail-background-color{
  background-color: #353332;
  height: 125px;
  text-align: center;
}
.fail-background-color:nth-child(2){
  background-color: #38211c;
  height: auto;
  text-align: center;
}
.fail-h1{
  color: #d2d2d2;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 46px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  margin-top: 35px;
}
.fail-h2{
  color: #dc5453;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 35px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  margin-top: 35px;
}
.fail-h3{
  color: #dc5453;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 90px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  margin-top: 5px;
}
.fail-h4{
  color: #d2d2d4;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 55px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
}
.fail-list-1{color: #dc5453;
  list-style: none;
  float: left;
  padding-top:0px;
  padding-left: 10px;

  li{
    display: block;
    display: flex;
    font-size: 48px;
    text-transform: uppercase;
  }
}
.fail-list-2{color: #dc5453;
  list-style: none;
  float: right;
  padding-top:0px;
  padding-left: 10px;

  li{
    display: block;
    display: flex;
    font-size: 48px;
    text-transform: uppercase;
  }
}
.fail-color{
  color: #d2d2d4;
  text-align: left;
  margin: 10px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
}
// fail for Mobile - (end)
// pass for Mobile - (start)
.pass-background-color{
  background-color: #353332;
  height: 125px;
  text-align: center;
}
.pass-background-color:nth-child(2){
  background-color: #353332;
  height: auto;
  text-align: center;
}
.pass-h1{
  color: #d2d2d2;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 46px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  margin-top: 35px;
}
.pass-h2{
  color: #6bc6ac;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 35px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  margin-top: 35px;
}
.pass-h3{
  color: #6bc6ac;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 90px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  margin-top: 5px;
}
.pass-h4{
  color: #d2d2d4;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 55px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
}
.pass-list-1{color: #6bc6ac;
  list-style: none;
  float: left;
  padding-top:0px;
  padding-left: 10px;

  li{
    display: block;
    display: flex;
    font-size: 48px;
    text-transform: uppercase;
  }
}
.pass-list-2{color: #6bc6ac;
  list-style: none;
  float: right;
  padding-top:0px;
  padding-left: 10px;

  li{
    display: block;
    display: flex;
    font-size: 48px;
    text-transform: uppercase;
  }
}
.pass-color{
  color: #d2d2d4;
  text-align: left;
  margin: 10px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
}
// pass for Mobile - (end)
// marks for Mobile - (start)
// marks box 1
.marks-background-color{
  background-color: #303631;
  height: 225px;
  text-align: center;
}
.marks-h1{
  color: #d2d2d4;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 32px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  margin-top: 15px;
  margin-left: 20px;
}
.marks-h2{
  color: #d2d2d4;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 27px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-left: 20px;
}
.marks-h3{
  color: #6bc6ac;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 90px;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
}
// marks box 2
.marks-background-color:nth-child(2){
  background-color: #303631;
  height: 225px;
  text-align: center;
  border-bottom: 10px solid #181818;
}
// marks box 3
.marks-background-color:nth-child(3){
  background-color: #303631;
  height: 225px;
  text-align: center;
  border-bottom: 10px solid #181818;
}
.marks-background-color:nth-child(4){
  background-color: #303631;
  height: 225px;
  text-align: center;
  border-bottom: 10px solid #181818;
}

.marks-h3-addition{
  color: #6bc6ac;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 19px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  margin-left: 12px;
  margin-top: 16px;
  p{
    display: flex;
  }
}
.tick-image{
  img{
  height: 153px;
  margin-top: -29px;
  }
}
.marks-style{
  display: flex;
}
// marks box 4
.marks-background-color:nth-child(5){
  background-color: #38211c;
  height: 250px;
  text-align: center;
  border-bottom: 10px solid #181818;
}
.marks-p{
  color: #dc5453;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 20px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  margin-top: 5px;
  margin-left: 20px;
  text-transform: uppercase;
}
// marks box 4
.marks-background-color:nth-child(6){
  background-color: #38211c;
  height: 200px;
  text-align: center;
}
.marks-h1-addition{
  color: #d2d2d4;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 32px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  margin-top: 40px;
  margin-left: 20px;
}
// marks for Mobile - (end)
// dash for Mobile - (start)
.dash-h1{
  color: #d2d2d4;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 26px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  margin-top: 25px;
  margin-left: 20px;
}
.dash-h2{
  color: #d2d2d4;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 27px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-left: 20px;
  margin-top: 10px;
}
.dash-h3{
  color: #6bc6ac;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 32px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 10px;
}
.dash-h4{
  color: #6bc6ac;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 20px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  text-transform: uppercase;
  margin-left: 20px;
  span ,img{
    height: 80px;
  }
}
.dash-h5{
  color: #d2d2d4;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 46px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  margin-left:20px; 
}
.dash-h5:before{
  content: "";
  color: #d2d2d4;
  display: block;
  width: 160px;
  height: 2px;
  background-color: #d2d2d4;
  position: absolute;
  right: -10px;
  top: 60%;
}
.dash-h5:after{
  content: "";
  color: #d2d2d4;
  display: block;
  width: 25px;
  height: 2px;
  background-color: #d2d2d4;
  position: absolute;
  left: -32px;
  top: 60%;
}
.dash-h3-addition{
  color: #dc5453;
  font-family: 'Montserrat', sans-serif;
  font-weight:900; 
  font-size: 32px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 30px;
}
.dash-h4-addition{
  color: #dc5453;
  font-family: 'Montserrat', sans-serif;
  font-weight:400; 
  font-size: 20px;
  text-align: left;
  margin: 0 auto;
  padding: 0px;
  align-content: center;
  text-transform: uppercase;
  margin-left: 20px;
  span ,img{
    height: 80px;
  }
}
// dash for Mobile - (end)