.form-wrapper {
  width: 90%;
  height: 370px;
  margin: 0 auto;
  margin-top: 15%;
  background: $dark-red;
  padding: 15px 25px;
  border: 5px solid $lightblue;
  border-radius: 5px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6),
    inset 0px 1px 0px rgba(255, 255, 255, 0.04);
}

.form-item {
  width: 100%;
}

h3 {
  font-size: 25px;
  font-weight: 640;
  margin-bottom: 10px;
  color: #e7e7e7;
  padding: 6px;
  font-family: $body;
}

.form-item input {
  background: transparent;
  color: #fff;
  margin-top: 40px;
  font-family: $body;
  font-size: 1.2em;
  height: 49px;
  padding: 0 16px;
  width: 100%;
  padding-left: 55px;
  border: 1px solid rgba(255, 255, 255, 0.308);
  border-radius: 20px;
}
input[type="password"] {
  background: transparent url("../imgs/pass.jpg") no-repeat;
  background-position: 10px 50%;
}
input[type="email"] {
  background: transparent url("../imgs/user.jpg") no-repeat;
  background-position: 10px 50%;
}

.form-item input:focus {
  outline: none;
  border: 1.4px solid #cfecf0;
}

.button-panel {
  margin-bottom: 20px;
  padding-top: 10px;
  width: 100%;
}

.button-panel .button {
  background: $pink;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: "helvetica", "Open Sans", sans-serif;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-top: 5px;
}

.button:hover {
  background: $lightblue;
}

.form-item input,
.button-panel .button {
  border-radius: 2px;
}

.reminder {
  text-align: center;
}

.reminder a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.reminder a:hover {
  color: #cab6bf;
}


.form_login {
    text-align: center;
    font-size: 33px;
    letter-spacing: 20px;
    text-transform: uppercase;
    font-family: $body;
    font-weight: 300;
    margin-top: 10px;
}

.error {
    color: white; 
    position: absolute;
    top: 3%;
    text-transform: uppercase;
    font-size: 35px;
    padding: 20px;
    background-color: $pink;
    margin-left: 3%;
    border-radius: 10px;
    font-family: $body;
}